button:focus,
select:focus,
input {
  outline: 0;
}

.outer {
  padding: 1vw 0 1vw 0;
  margin-left: 35%;
  transform: translateX(-50%);
}

.outer .wrapper {
  margin: auto;
  position: static;
  display: flex;
}

.outer .wrapper .flip-container-left,
.outer .wrapper .flip-container-right {
  position: relative;
}

.outer .wrapper .flip-container-left .flipper,
.outer .wrapper .flip-container-right .flipper {
  transform-style: preserve-3d;
  position: relative;
}

.outer .wrapper .flip-container-left .flipper .btn,
.outer .wrapper .flip-container-right .flipper .btn {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  border-radius: 50%;
}

.outer .wrapper .flip-container-left .flipper .btn:hover,
.outer .wrapper .flip-container-right .flipper .btn:hover {
  opacity: 0.5;
}

.outer .wrapper .flip-container-left .flipper .btn-prev,
.outer .wrapper .flip-container-left .flipper .btn-next,
.outer .wrapper .flip-container-right .flipper .btn-prev,
.outer .wrapper .flip-container-right .flipper .btn-next {
  border: 0.25vw #195499 solid;
  font-weight: bold;
  font-size: 1vw;
}

.outer .wrapper .flip-container-left .flipper .select-month,
.outer .wrapper .flip-container-right .flipper .select-month {
  height: 2vw;
  cursor: pointer;
  font-size: 1.5vw;
  border: none;
  border-left: 0.25vw solid #195499;
  border-right: 0.25vw solid #195499;
}

.outer .wrapper .flip-container-left .flipper .input-year,
.outer .wrapper .flip-container-right .flipper .input-year {
  width: 4vw;
  height: 2vw;
  font-size: 1.5vw;
  text-align: center;
  border: none;
  border-bottom: 0.25vw solid #195499;
}

.outer .wrapper .flip-container-left .flipper .container-event,
.outer .wrapper .flip-container-right .flipper .container-event {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.outer .wrapper .flip-container-left .flipper .container-event .input-time,
.outer .wrapper .flip-container-right .flipper .container-event .input-time {
  width: 4vw;
  height: 2vw;
  font-size: 1.5vw;
  text-align: center;
  border: none;
  border-bottom: 0.25vw solid #195499;
}

.outer .wrapper .flip-container-left .flipper .container-event .btn-submit,
.outer .wrapper .flip-container-right .flipper .container-event .btn-submit {
  border: 0.25vw #195499 solid;
}

.outer .wrapper .flip-container-left .flipper .input-event,
.outer .wrapper .flip-container-right .flipper .input-event {
  margin-top: 1vw;
  width: 16vw;
  height: 2vw;
  font-size: 1.5vw;
  text-align: center;
  border: none;
  border-bottom: 0.25vw solid #195499;
}

.outer .wrapper .flip-container-left .flipper .option-month,
.outer .wrapper .flip-container-right .flipper .option-month {
  color: #eeeeee;
  background-color: #195499;
}

.outer .wrapper .flip-container-left .flipper .front-left,
.outer .wrapper .flip-container-left .flipper .back-left {
  border-bottom-left-radius: 3vw;
  border-top-left-radius: 3vw;
}

.outer .wrapper .flip-container-left .flipper .front-left .btn-flip,
.outer .wrapper .flip-container-left .flipper .back-left .btn-flip {
  font-size: 1vw;
}

.outer .wrapper .flip-container-left .flipper .front-right,
.outer .wrapper .flip-container-left .flipper .back-right,
.outer .wrapper .flip-container-right .flipper .front-right,
.outer .wrapper .flip-container-right .flipper .back-right {
  border-bottom-right-radius: 3vw;
  border-top-right-radius: 3vw;
}

.outer .wrapper .flip-container-left .flipper .back,
.outer .wrapper .flip-container-right .flipper .back {
  transform: rotateX(180deg);
}

.outer .wrapper .flip-container-left .flipper .front,
.outer .wrapper .flip-container-left .flipper .back,
.outer .wrapper .flip-container-right .flipper .front,
.outer .wrapper .flip-container-right .flipper .back {
  backface-visibility: hidden;
  position: absolute;
}

.outer .wrapper .flip-container-left .toggle,
.outer .wrapper .flip-container-right .toggle {
  transform: rotateX(180deg);
}

.outer .wrapper .flip-container-left .flipper {
  transition: 1s ease-out;
}

.outer .wrapper .flip-container-right .flipper {
  transition: 1s ease-in;
}

.outer .wrapper .flip-container-left .flipper .front,
.outer .wrapper .flip-container-right .flipper .front {
  background-color: #195499;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer .wrapper .flip-container-left .flipper .front * {
  background-color: #195499;
  color: #eeeeee;
}

.outer .wrapper .flip-container-right .flipper .front * {
  background-color: #195499;
  color: #eeeeee;
}

.outer .wrapper .flip-container-left .flipper .front .btn-flip,
.outer .wrapper .flip-container-right .flipper .front .btn-flip {
  border: 0.25vw #eeeeee solid;
  margin-top: 3vw;
}

.outer .wrapper .flip-container-left .flipper .front h1,
.outer .wrapper .flip-container-right .flipper .front h1 {
  margin: 0;
  font-size: 9vw;
  font-family: arial;
  font-weight: normal;
}

.outer .wrapper .flip-container-left .flipper .front h2,
.outer .wrapper .flip-container-right .flipper .front h2 {
  margin: 0;
  font-size: 1.5vw;
  font-family: arial;
  font-weight: normal;
}

.outer .wrapper .flip-container-left .flipper .back,
.outer .wrapper .flip-container-right .flipper .back {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer .wrapper .flip-container-left .flipper .back * {
  background-color: #eeeeee;
  color: #195499;
}

.outer .wrapper .flip-container-right .flipper .back * {
  background-color: #eeeeee;
  color: #195499;
}

.outer .wrapper .flip-container-left .flipper .back .btn-flip,
.outer .wrapper .flip-container-right .flipper .back .btn-flip {
  border: 0.25vw #195499 solid;
  margin-top: 6vw;
}

.outer .wrapper .flip-container-right .flipper .front {
  background-color: #eeeeee;
}

.outer .wrapper .flip-container-right .flipper .front * {
  background-color: #eeeeee;
  color: #195499;
}

.outer .wrapper .flip-container-right .flipper .front {
  justify-content: space-around;
  overflow: hidden;
}

.outer .wrapper .flip-container-right .flipper .front * {
  overflow: hidden;
}

.outer .wrapper .flip-container-right .flipper .front .container-date-picker {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.outer .wrapper .flip-container-right .flipper .front .container-day {
  display: grid;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 3.4vw);
}

.outer .wrapper .flip-container-right .flipper .front .container-day .weekday,
.outer .wrapper .flip-container-right .flipper .front .container-day .day-block {
  height: 2vw;
  font-family: arial;
  font-weight: normal;
  font-weight: bold;
  font-size: 1.2vw;
}

.outer .wrapper .flip-container-right .flipper .front .container-day .day-block {
  cursor: pointer;
  border: 0.7vw solid #eeeeee;
  border-radius: 50%;
  transition: 1s;
}

.outer .wrapper .flip-container-right .flipper .front .container-day .day-block .inner {
  transition: background-color 1s;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.outer .wrapper .flip-container-right .flipper .front .container-day .active * {
  background-color: #195499;
  color: #eeeeee;
}

.outer .wrapper .flip-container-right .flipper .front .container-day .active {
  background-color: #195499;
  border: 0.7vw solid #195499;
  border-radius: 50%;
}

.outer .wrapper .flip-container-right .flipper .back {
  background-color: #195499;
  overflow: hidden;
}

.outer .wrapper .flip-container-right .flipper .back * {
  background-color: #195499;
  color: #eeeeee;
  font-family: arial;
  font-weight: normal;
}

.outer .wrapper .flip-container-right .flipper .back .event {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 0.1vw #eeeeee solid;
}

.outer .wrapper .flip-container-right .flipper .back .event .event-time {
  padding-left: 1vw;
  min-width: 4vw;
  flex-grow: 0;
}

.outer .wrapper .flip-container-right .flipper .back .event .event-name {
  flex-grow: 2;
}

.outer .wrapper .flip-container-left,
.outer .wrapper .flip-container-left .front-left,
.outer .wrapper .flip-container-left .back-left {
  width: 15vw;
  height: 28vw;
}

.outer .wrapper .flip-container-right,
.outer .wrapper .flip-container-right .front-right,
.outer .wrapper .flip-container-right .back-right {

  height: 28vw;
}